@font-face {
    font-family: 'myriad';
    src: url('../font/MyriadPro-Regular.otf') format('otf');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: gray;
}

body {
    font-family: 'myriad', sans-serif;
    line-height: 22px;
}

.action {
    display: flex;
}

.panel {
    display: none;
}

.container {
    max-width: 930px;
    padding: 20px 0;
    margin: 0 auto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* header & menu */

header {
    height: 200px;
    width: 100%;
}

.header-content {
    background-image: url(image/Header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.container-portrait {
    position: relative;
    height: 100%;
    padding: 0;
}

.row-portrait {
    background-color: #ffffff;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    position: absolute;
    left: 0;
    bottom: -40px;
}

nav {
    max-width: 930px;
    margin: 0 auto;
}

.menu {
    height: 50px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-left: 190px;
}

.menu span {
    margin: 0 25px;
}

.menu .active {
    color: #000000;
}

/* footer */

footer {
    background-color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* bemutatkozás oldal */

.container-fluid {
    background-color: #eeeeee;
}

.row-setout {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.row-setout-img {
    width: 41%;
}

.row-setout-text {
    width: 56%;
}

.row-setout-text p{
    padding-bottom: 30px;
    color: #2e2e2e;
}

.reserve {
    flex-direction: row-reverse;
}

/* épületek oldal */

.container-galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-flow: wrap;
    padding: 10px 0;
}

.galery-image {
    width: 30%;
    background-color: #ffffff;
    padding: 1%;
    text-align: center;
    margin-bottom: 20px;
}

.city {
    padding: 5px;
}


/* hírlevél oldal */
.container-news {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.form-group {
    position: relative;
}

label {
    position: absolute; 
    top: 10px;
    left:50px;
    color: #000000;
}

input {
    height: 20px;
    width: 360px;
    margin-bottom: 30px;
    padding: 10px;
}

textarea {
    height: 120px;
    width: 360px;
    margin-bottom: 30px;
    padding: 10px;
}

input, textarea, .form-btn {
    margin-left: 150px;
}

.card-body button {
    background-color: #ffffff;
    height: 40px;
    width: 140px;
    color: #000000;
    text-transform: uppercase;
    border: 1px solid #9b9a9a;
    cursor: pointer;
}

.form-btn span {
    font-size: 14px;
    font-style: italic;
    color: #000000;
    margin: 0 10px;
}

.btn {
    margin: 10px 0  0 14px;
}

.profil {
    width: 300px;
}

@media (max-width: 991.99px) {

    .container-portrait {
        display: none;
    }

    .container-setout {
        padding: 0 10px;
    }

    nav {
        display: flex;
    }

    .menu {
        padding: 0;
        margin: 0 auto;
        display: flex;
    }

    .row-setout, .container-news {
        flex-flow: column;
    }

    .row-setout-text, .row-setout-img {
        width: calc(100% - 5px);
        margin: 0 auto;
    }

    .row-setout-img img {
        margin: 0 auto;
    }

    .container-galery {
        justify-content: space-around;
    }

    .galery-image {
        width: 43%;
    }

    .form-group {
        display: block;
    }

    label {
        position: static;
        line-height: 45px;
    }

    input, textarea, .form-group {
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .form-btn {
        margin: 20px auto 30px;
        text-align: right
    }

    .btn {
        margin-right: 12px;
    }

    .profil {
        margin: 0 auto;
    }

}

@media (max-width: 400px) {

    .menu span {
        margin: 0 10px;
    }
}






